body {
    color: black;
    margin: 0;
    padding: 0;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}
.right-align{
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.left-align {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#custom-text {
    font-size: 1.5em;
    color: floralwhite;
}

#custom-lobby-label {
    font-size: 1.3em;
    color: floralwhite;
}

#playerNameDisplay {
    justify-content: right;
    align-items: right;
}

.container-custom {
    background-image: url('https://cdnb.artstation.com/p/assets/images/images/023/692/545/large/yang-sohyeon-7.jpg?1580056895');
    opacity: 0.8; /* Adjust the opacity value as needed */
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#headerGameLabel {
    display: flex;
    align-self: flex-start;
    padding-top: 10px;
    font-size: 20px;
    padding-left: 10px;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 1);
    color:rgb(200, 229, 245);
}

#initialScreen {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    opacity: 1;
}

#mainContainer {
    display: none; /* Initially hide main container */
    flex: 1;
    flex-direction: row;
    height: 100vh; /* Set height to 100% of the viewport height */
    width: 100vw;
}

.column {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.section {
    padding: 20px;
}


.title-lobby-messages {
    font-size: 1.3em;
    color:floralwhite;
}

.btn-custom {
    background-color: rgb(6, 6, 117);
    border: none;
    color: floralwhite;
    font-weight: bold;
    font-family: 'Courier New', monospace;
    opacity: 1;
}

.btn-custom:hover {
    background-color: #3737f8;
    color: floralwhite;
}

#playerName {
    width: 200px; /* Set the width of the text field */
    opacity: 1;
}


.monospace {
    font-family: 'Courier New', monospace;
    color: yellow;
    font-weight: bold;
}

#LobbiesList {
    color: yellow;
    font-size: 11px; /* Smaller 2 times than the normal font size */
    font-family: 'Courier New', monospace;
    font-weight: bold;
}

#lobbiesList {
    color: yellow;
    font-size: 11px; /* Smaller 2 times than the normal font size */
    font-family: 'Courier New', monospace;
    font-weight: bold;
}

#myLobbyId {
    color: yellow;
    font-size: 11px; /* Smaller 2 times than the normal font size */
    font-family: 'Courier New', monospace;
    font-weight: bold;
}

#emptyLobbiesList {
    color: yellow;
    font-size: 11px; /* Smaller 2 times than the normal font size */
    font-family: 'Courier New', monospace;
    font-weight: bold;
}

#lobbyMessages {
    overflow-y: auto;
    height: 350px;
    padding: 10px;
    color: white;
    font-weight: bold;
    font-family: 'Courier New', monospace;
    
}    
